@import "../../../styles/global.scss";

.wrapper {
    padding: 36px;
    display: flex;
    gap: 18px;
    color: $white;
}

.wrapper__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-wrap: wrap;
}

.wrapper__success {
    background-color: $alertSuccess;
}

.wrapper__error {
    background-color: $alertError;
}
