@import "../../../styles/global.scss";

$headingFontStyle: normal;
$headingFontWeight: 700;

.heading {
    margin: 0;
    color: inherit;
    font-style: $headingFontStyle;
    font-weight: $headingFontWeight;
}

.heading__sen {
    font-family: $senFont;
}

.heading__inter {
    font-family: $interFont;
}

.heading__inherit {
    color: inherit;
}

.heading__mediumGray {
    color: $mediumGray;
}

.heading__darkGray {
    color: $darkGray;
}

.heading__1 {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 36px;
        line-height: 48px;
    }
}

.heading__2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 28px;
        line-height: 40px;
    }
}

.heading__3 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 24px;
        line-height: 32px;
    }
}

.heading__4 {
    font-size: 24px;
    line-height: 32px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 20px;
        line-height: 28px;
    }
}

.heading__5 {
    font-size: 20px;
    line-height: 32px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 16px;
        line-height: 24px;
    }
}

.heading__6 {
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 12px;
        line-height: 20px;
    }
}
