@import "../../../styles/global.scss";

$buttonPadding: 16px 48px;
$buttonFontSize: 18px;
$buttonFontSizeLarge: 24px;
$buttonFontWeight: 700;

.unstyled {
    all: unset;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
    color: $black;
    padding: $buttonPadding;
    font-family: $senFont;
    font-weight: $buttonFontWeight;
    transition: $transitionSetup;

    &:active:enabled {
        transform: $activeScale;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: $disabledOpacity;
    }
}

.variant__primary {
    background-color: $yellow;

    &:hover:enabled {
        background-color: $yellowHover;
    }
}

.variant__regular {
    background-color: $white;

    &:hover:enabled {
        background-color: $yellow;
    }
}

.size__regular {
    font-size: $buttonFontSize;
}

.size__large {
    font-size: $buttonFontSizeLarge;
}
