@import "../../../styles/global.scss";

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	width: 48px;
	height: 48px;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.spinner__white {
	border-color: $white;
	border-bottom-color: transparent;
}

.spinner__black {
	border-color: $black;
	border-bottom-color: transparent;
}
