@import "../../../styles/global.scss";

$capWeightLevel1: 600;
$capWeightLevel3: 900;

.cap {
    margin: 0;
    color: inherit;
    text-align: inherit;
    font-family: $interFont;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;

    @media (max-width: $breakpoint-mobile) {
        font-size: 12px;
    }
}

.cap__regular {
    font-weight: 400;
}

.cap__semibold {
    font-weight: 600;
}

.cap__bold {
    font-weight: 700;
}

.cap__black {
    font-weight: 900;
}
