@import "../../../styles/global.scss";

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $lavender;
    padding: 80px;
}

.gap__regular {
    gap: 4px;
}

.gap__large {
    gap: 12px;
}

.gap__extralarge {
    gap: 16px;
}
