@import "../../../styles/global.scss";

@mixin fullWidthBase {
    width: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;

    margin: 128px auto;
    width: 50%;

    @media (max-width: $breakpoint-mobile) {
        width: 100%;
        margin: 128px 0px;
        padding: 0px 24px;
    }
}

.wrapper__start {
    align-items: flex-start;
}

.wrapper__center {
    align-items: center;
}

.wrapper__end {
    align-items: flex-end;
}

.gap__small {
    gap: 64px;
}

.gap__regular {
    gap: 128px;
}

.fullWidth__regular {
    @include fullWidthBase;
    padding: 128px 80px;

    @media (max-width: $breakpoint-mobile) {
        padding: 128px 36px;
    }
}

.fullWidth__large {
    @include fullWidthBase;
    padding: 128px 208px;

    @media (max-width: $breakpoint-mobile) {
        padding: 128px 48px;
    }
}
